
body{
    text-align: center;
}

button:hover{

    background-color: rgb(214, 17, 17);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}

button:active{

    background-color: pink;
    color: rgb(214, 17, 17);
}
